# Scheduler login account
# Use an Admin account if the show-creation API allows Admin to manage all theatres,
# otherwise use the relevant Theatre Partner account.
BMS_SCHEDULER_EMAIL=bms-partner-emailaddress
BMS_SCHEDULER_PASSWORD=bms-partner-password
